<div class="jumbotron">
  <div class="text-center">
    <h1 class="display-4">John Froilan Lluz</h1>
    <h3>Frontend Developer</h3>
  </div>
  <div
    style="position: absolute; top: 5px; right: 10px; margin-top: 140px"
    class=""
  >
    <a
      href="//linkedin.com/in/john-froilan-lluz-3038a6274/"
      target="_blank"
      class=""
    >
      <img
        src="../../assets/linkedin.png"
        alt=""
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a href="//facebook.com/johnfroilan.lluz" target="_blank" class="">
      <img
        src="../../assets/facebook.png"
        alt=""
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a href="//github.com/johnfroilanlluz" target="_blank" class="">
      <img
        src="../../assets/github.png"
        alt=""
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
  </div>
</div>
