<div
data-aos="fade-up"
data-aos-duration="1000"
  id="project-card"
  class="card shadow text-center"
  style="
    max-width: 350px;
    min-width: 350px;
    max-height: 470px;
    min-height: 470px;
    background: #29292b;
    border-radius: 12px;
  "
>
  <span class="after"></span>
  <div class="card-body">
    <h5 class="card-title text-bg-danger mb-3">{{ project.name }}</h5>
    <div>
      <carousel>
        <div *ngFor="let picture of project.display">
          <img
            src="{{ picture }}"
            alt="slide"
            style="display: block; width: 100%; border-radius: 10px"
          />
        </div>
      </carousel>
    </div>
    <p class="card-text text-white mt-2">{{ project.summary }}</p>
    <button class="btn button" (click)="OpenProjectModal()">View More</button>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
      <div
        *ngFor="let tag of project.tags"
        style="cursor: pointer"
        (click)="onClick()"
      >
        <div class="tag me-2 mb-2" [style.background-color]="tag.color">
          {{ tag }}
        </div>
      </div>
    </div>
  </div>
</div>
