<div
  data-aos="fade-up"
  data-aos-duration="1000"
  id="project-card"
  class="card shadow text-center"
  style="background: #29292b; border-radius: 12px"
>
  <div class="card-body row">
    <div class="col-md-7">
      <carousel>
        <div *ngFor="let picture of project.display">
          <img
            src="{{ picture }}"
            alt="slide"
            style="border-radius: 10px"
            class="img-fluid"
          />
        </div>
      </carousel>
    </div>
    <div class="second col-md-5">
      <h5 class="card-title mb-3 mt-3">
        {{ project.name }}
      </h5>
      <p class="card-text mt-5">{{ project.summary }}</p>
      <div class="view-more">
        <button class="btn button" (click)="OpenProjectModal()">
          View More
        </button>
        <a href=""><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="card-footer pe-0">
    <div class="d-flex flex-wrap justify-content-center">
      <div
        *ngFor="let tag of project.tags"
        style="cursor: pointer"
        (click)="onClick()"
      >
        <div
          class="tag me-2 mb-2"
          style="background: transparent; border: 1px solid #f8f8f8"
          [style.background-color]=""
        >
          {{ tag }}
        </div>
      </div>
    </div>
  </div>
</div>
