<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          style="
            font-weight: bold;
            font-size: 12px;
            border-right: 1px solid rgb(231, 195, 195);
            border-left: 1px solid rgb(231, 195, 195);
          "
          routerLink="/home"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          style="
            font-weight: bold;
            font-size: 12px;
            border-right: 1px solid rgb(231, 195, 195);
            border-left: 1px solid rgb(231, 195, 195);
          "
          routerLink="/portfolio"
          >Projects
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          style="
            font-weight: bold;
            font-size: 12px;
            border-right: 1px solid rgb(231, 195, 195);
            border-left: 1px solid rgb(231, 195, 195);
          "
          routerLink="/resume"
          >Resume
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          style="
            font-weight: bold;
            font-size: 12px;
            border-right: 1px solid rgb(231, 195, 195);
            border-left: 1px solid rgb(231, 195, 195);
          "
          routerLink="/contact"
          >Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
