<div
  class="container"
  style="
    border-radius: 10px;
    border: none;
    background: #414040;
    justify-content: center;
    max-width: 1200px;
  "
>
  <div class="mb-2">
    <div>
      <button
        id="filter-button"
        class="btn btn-outline-secondary mb-2 me-2 mt-3"
        (click)="isCollapsed = !isCollapsed"
      >
        Filter <i class="fa-solid fa-filter"></i>
      </button>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="border mb-2 shadow-sm" style="width: 250px">
        <form>
          <div class="row mx-0">
            <div class="col text-white ">
              <small><b>Languages:</b></small>
              <div class="form-group text-white ">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="typescript"
                    (change)="Filter()"
                    name="typescript"
                  />
                  <label class="form-check-label small">Typescript</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="javascript"
                    (change)="Filter()"
                    name="javascript"
                  />
                  <label class="form-check-label small">JavaScript</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="python"
                    (change)="Filter()"
                    name="python"
                  />
                  <label class="form-check-label small">Python</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="electron"
                    (change)="Filter()"
                    name="electron"
                  />
                  <label class="form-check-label small">Electron</label>
                </div>
              </div>
            </div>
            <div class="col text-white ">
              <small><b>Frameworks:</b></small>
              <div class="form-group text-white ">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="angular"
                    (change)="Filter()"
                    name="angular"
                  />
                  <label class="form-check-label small">Angular</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="flask"
                    (change)="Filter()"
                    name="flask"
                  />
                  <label class="form-check-label small">Flask</label>
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="nodejs"
                    (change)="Filter()"
                    name="nodejs"
                  />
                  <label class="form-check-label small">NodeJs</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-lg-2 px-1">
    <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4">
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>
