<div
  class="container text-center"
  style="border-radius: 10px; border: none; background: #eef5ff"
>
  <button
    id="resume-button"
    (click)="DownloadFile()"
    class="button-30"
    role="button"
    style="margin-top: 30px"
  >
    Download Pdf Resume
  </button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group [(isOpen)]="isWorkExperienceOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Work Experience</div>

          <div style="width: 10.95px">
            <div *ngIf="!isWorkExperienceOpen" style="color: white">
              <i class="fa-solid fa-greater-than"></i>
            </div>
            <div *ngIf="isWorkExperienceOpen" style="color: white">
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Frontend Developer</h2>
          <h3 class="text-primary text-danger-emphasis ">ApexTech Innovations</h3>
          <ul>
            <li>
              As a Frontend Developer at ApexTech Innovations, my journey was a
              dynamic and fulfilling exploration of cutting-edge technologies
              and creative web development.
            </li>
            <li>
              Collaborating closely with talented designers and backend
              developers, I contributed to projects that pushed the boundaries
              of modern web development.
            </li>

            <li>
              The company's emphasis on professional development provided
              opportunities for training and skill enhancement, allowing me to
              stay competitive in the ever-evolving field of frontend
              development.
            </li>
            <li>
              One of the highlights of my experience was being part of a team
              that successfully launched a high-impact project.
            </li>
          </ul>
        </div>
        <hr />
      </accordion-group>
      <accordion-group [(isOpen)]="isEducationOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Education</div>

          <div style="width: 10.95px">
            <div *ngIf="!isEducationOpen" style="color: white">
              <i class="fa-solid fa-greater-than"></i>
            </div>
            <div *ngIf="isEducationOpen" style="color: white">
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Bacherlor of Science in Computer Engineering</h2>
          <h3 class="text-primary">
            Polytechnic University of the Philippines Binan Campus
          </h3>
          <ul>
            <li>Graduated in PUP Binan Campus in October 13 2023</li>
            <li>Graduated with a 1.50 GPA</li>
            <li>
              Participated in Extraculicular Competition such as APPEAR, START
              UP and more!
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isCertificationsOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Certification</div>

          <div style="width: 10.95px">
            <div *ngIf="!isCertificationsOpen" style="color: white">
              <i class="fa-solid fa-greater-than"></i>
            </div>
            <div *ngIf="isCertificationsOpen" style="color: white">
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
        </button>
        <div style="text-align: left">
          <h3>Erouvotika Automation Center</h3>
          <ul>
            <li>Obtained in July 2023</li>
            <li>#23423764823</li>
          </ul>
          <h3>Erouvotika Automation Center</h3>
          <ul>
            <li>Obtained in July 2023</li>
            <li>#23423764823</li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isSkillsOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Skills</div>

          <div style="width: 10.95px">
            <div *ngIf="!isSkillsOpen" style="color: white">
              <i class="fa-solid fa-greater-than"></i>
            </div>
            <div *ngIf="isSkillsOpen" style="color: white">
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
        </button>
        <div class="row" style="text-align: left">
          <div class="col">
            <h3>Programming Language:</h3>
            <ul>
              <li>HTML</li>
              <li>SCSS</li>
              <li>Basic JavaScript</li>
              <li>TypeScript</li>
              <li>Python</li>
              <li>Java</li>
            </ul>
          </div>
          <div class="col">
            <h3>Frameworks</h3>
            <ul>
              <li>Angular</li>
              <li>NodeJs</li>
              <li>Flask</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
