accordion-group::ng-deep .btn-link {
  color: #f8f8f8;
}

accordion-group::ng-deep .card-header {
  background-color: #29292b;
  margin-bottom: 5px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #000 0 -3px 0 inset;

  &:hover {

    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #414040 0 -3px 0 inset;
    transform: translateY(-2px);
  }

}