<div class="container" style="border-radius: 10px">
  <div class="col">
    <!--about me-->
    <div class="shadow" data-aos="fade-right" data-aos-duration="2000">
      <div class="text-center row justify-content-center align-items-center">
        <img
          src="../../assets/froi.JPG"
          alt="profile picture"
          width="260"
          height="260"
          class="rounded-circle col-md-3 img-fluid"
        />
        <h1
          class="display-6 text-white col-md-9"
          style="
            font-weight: 200;
            text-align: left;
            padding: 0 20px;
            font-size: clamp(17px, 3vw, 30px);
            letter-spacing: 1px;
          "
        >
          Hello, they call me Froi.
          <p class="animated-text">
            I <span>design</span> and <span>develop</span> things <br />
            for the web.
          </p>
          <div class="button-container d-flex text-wrap">
            <button type="button" (click)="DownloadFile()">
              <i class="fa-solid fa-download col-md-2"></i>
              <span></span>
              Download CV
            </button>
            <div class="icon col-md-7">
              <ul>
                <li>
                  <a href="//github.com/johnfroilanlluz" target="_blank"
                    ><span></span><i class="fa-brands fa-github"></i
                  ></a>
                  <a href="//facebook.com/johnfroilan.lluz" target="_blank"
                    ><span></span><i class="fa-brands fa-facebook"></i
                  ></a>
                  <a
                    href="//linkedin.com/in/john-froilan-lluz-3038a6274/"
                    target="_blank"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  <a href="//instagram.com/johnfroilanlluz/" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </h1>
      </div>
    </div>
  </div>
</div>
