#featured-project {

    &:hover {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }
}


.animated-text {
    font-size: clamp(40px, 5vw, 50px);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    span {
        color: var(--blue-color);
    }
}

.display-6 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;




}

.row {
    height: 70vh;
}



.button-container {


    button {
        width: 200px;
        height: auto;
        padding: 10px 30px;
        padding-left: 20px;
        text-align: center;
        border-radius: 40px;
        font-weight: bold;
        font-size: 15px;
        border: 3px solid var(--blue-color);
        background: transparent;
        color: var(--blue-color);
        cursor: pointer;
        position: relative;
        overflow: hidden;

        justify-content: space-between;


        i {
            color: var(--blue-color);
            font-size: 20px;


        }

        &:hover {
            color: #f8f8f8;
            transition: 0.5s;
        }

        &:hover i {
            color: #f8f8f8;
            transition: 0.5s;
        }

        span {
            background: var(--blue-color);
            height: 100%;
            width: 0;
            border-radius: 25px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }

        &:hover span {
            width: 100%;
            transition: 0.5s;
        }
    }

    .icon {
        ul {
            list-style: none;

            justify-content: space-between;
            padding: 0;
            margin: 0;
            text-wrap: wrap;


            li {
                margin: 0 10px;
                text-wrap: wrap;

                a {
                    color: var(--blue-color);
                    margin: 0 5px;
                    font-size: 25px;
                    padding: 5px 10px;
                    border: 2px solid var(--blue-color);
                    border-radius: 25px;
                    transition: 0.5s;

                    &:hover {
                        color: #f8f8f8;
                        background: var(--blue-color);
                        transition: 0.5s;
                        transform: translateY(-7px);
                    }

                }

            }

        }

    }
}

@media (max-width: 768px) {


    .animated-text {
        text-align: center;
    }

    .text-center {
        img {
            width: 80%;
            height: auto;
            padding-bottom: 20px;

        }


    }

    .button-container {
        flex-direction: column;
        align-items: center;

        button {
            width: 300px;
            font-size: 15px;
            padding: 10px 20px;
        }

        .icon {
            padding: 20px 0;

            ul {
                li {
                    a {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}