<div
  class="container"
  style="border-radius: 10px; border: none; background: #eef5ff"
>
  <div class="row">
    <!--about me-->
    <div class="col-lg shadow border m-2">
      <div class="text-center">
        <h2 class="text-dark ">About Me</h2>
        <img
          src="../../assets/froi.JPG"
          alt="profile picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Enthusiastic and results-driven Computer Engineering graduate with a
          passion for technology and innovation. Possessing a solid foundation
          in computer systems, hardware, and software development, I am eager to
          contribute my skills to a dynamic team and make a meaningful impact in
          the field of technology.
        </p>
      </div>
    </div>
    <!--Featured-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2 class="text-dark">Featured Project</h2>
        <h4 class="text-bg-success ">{{ featuredProject.name }}</h4>
      </div>
      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <slide
            ><img
              src="{{ picture }}"
              alt="slide"
              style="
                display: block;
                width: 90%;
                border-radius: 50px;
                margin-left: 25px;
              "
          /></slide>
        </div>
      </carousel>
      <p class="mt-2">{{ featuredProject.summary }}</p>
      <p>Visit the projects section to learn more!</p>
    </div>
  </div>
</div>
